table td{
	padding:1px;
	text-align:center;
	font-family:arial;
}

table tr{
	margin:0;
	padding:0;
}

table{
	border-collapse: collapse;
	height:300px;
	width:300px;
}

.case{
	height:100%;
	width:100%;
	border-radius:7%;
}

.chance{
	height:20px;
	width:20px;
	background-color:#75C63F;
	margin:5px;
	display:inline-block;
	border-radius:50%;
}